/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* CSS reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.outerRing {
	position: relative;
	border: 6px solid #121212;
	border-radius: 50%;
	width: 50%;
	height: 50%;
	padding: 2rem;
}

.innerText {
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav {
	flex: 1 1 20rem;
}

.side {
	flex: 1 1 auto;
}

.cardd {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menuBar {
	width: 100%;
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: -8%;
	z-index: 9;
	background: #121212;
	color: #f7f7f7;
	height: 14%;
	padding: 16px;
}

@media screen and (max-width: 480px) {
	.resp {
		width: 90%;
		margin: 10px auto;
	}
	.side {
		width: 80%;
		margin: auto;
	}
	.mainCard {
		width: 100%;
		margin: auto;
	}
}

@media screen and (max-width: 320px) {
	.resp {
		width: 80%;
		margin: 10px auto;
	}
	.restt {
		width: 19rem;
	}
}
